{% extends 'base.html' %}

{% block extrahead %}
    <title>Crear Persona</title>
{% endblock extrahead %}

{% block content %}
    <div class="container">
        <h1 class="title is-1">Crear nueva Persona</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="columns  is-multiline">
            {% for field in form %}
            <div class="column is-half">
            {% if field.label == 'Tipo de Documento' %}
            <p class="field">
                <label class="label">{{ field.label }}</label>
                <div class="select is-fullwidth is-normal">
                <select name="{{ field.name }}" id="{{ field.name }}" required>
                    <option selected="" disabled value="">Seleccione un tipo de documento</option>
                    {% for docs in documentos %}
                    <option value="{{ docs.pk }}">{{ docs.nombre }}</option>
                    {% endfor %}
                </select>
                </div>
            </p><br>
            {% elif field.label == 'Lugar de Nacimiento' %}
            <p class="field">
                <label class="label">{{ field.label }}</label>
                <div class="select is-fullwidth is-normal">
                <select name="{{ field.name }}" id="{{ field.name }}" required>
                    <option selected="" disabled value="">Seleccione una ciudad</option>
                    {% for ciuds in ciudades %}
                    <option value="{{ ciuds.pk }}">{{ ciuds.nombre }}</option>
                    {% endfor %}
                </select>
                </div>
            </p><br>
            {% else %}
            <p class="field">
                <label class="label" style="margin-bottom:12px">{{ field.label }}</label>
                {{ field }}
            </p>
            {% endif %}
            </div>
            {% endfor %}
            </div>
            <input type="submit" value="Submit" class="button is-primary">
            <a class="button is-danger" href="/personas/">Cancel</a>
        </form>
    </div>
{% endblock content %}